@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');

body{
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('/img/3.jpg')no-repeat center center fixed;
 }
 
 header {
    width: 100%; 
    height: 120px; 
    line-height: 120px; 
    padding:0 60px; 
    box-sizing: border-box; 
    position: fixed; 
    top: 0; 
    z-index: 100;
    background:rgb(17, 17, 82);
    text-align: center;
    left: 0;
    font-family: 'Raleway', sans-serif;
    
    
 }
 header .logo {
    display: inline;
 }
 /* header nav {
    float:none;
 } */
 
 header nav .gnb li {
    
    display: inline-block; 
    margin-left: 30px; 
    margin-right: 30px;
 }
 header nav .gnb li a {
    display: block; 
    font-size: 21px; 
    text-transform: uppercase; 
    position: relative; 
    text-decoration-line:none;
    color:rgb(218, 218, 218);
    font-weight: bold;
 }
 header nav .gnb li a:after {
    content: ''; 
    width: 0%; 
    height: 1px; 
    position: absolute; 
    background: rgba(218, 218, 218, 0.466); 
    bottom: 47px; 
    left: 50%; 
    transform: translateX(-50%); 
    transition: all 0.5s; 
 }
 header nav .gnb li a:hover:after, header nav .gnb li a:focus:after {
    width: 100%;
 }
 header .gnbL{ 
    margin-left: 15%;
    float: left;
    width: 28%;
 }
 header .gnbR{ 
    margin-right: 15%;
    float: right;
    width: 28%;
 }

main {
   padding: 60px 60px 20px 60px;
   position: relative;
   top: 180px;
   width: 80%;
   margin: 0 6.3%;
   text-align: center;
   justify-content: center;
   font-family: 'Abel', sans-serif;
   font-family: 'Noto Serif KR', serif;
   background-color: rgba(255, 255, 255, 0.959);
   border-radius: 10px;
 }
.title {
     top: 100px;
     height: 100px;
     background-color: rgba(255, 255, 255, 0);
     font-size: 2em;
     margin-bottom: 100px;
}
.title h3::after {
   content: '';
   width: 607.5px;
   height: 3px;
   background-color: rgb(17, 17, 82);
   position: absolute; 
   transform: translateX(-63%) translateY(80px);
}
main .content {
   display: block;
   justify-content: center;
   align-items: center;
   height: 100%;
   margin: 10%;
}
.history{
   position: relative;
   text-align: left;
}
.history h2 {
   margin-top: 100px;
}
.history h2:after {
   content: '';
   width: 10%;
   height: 1px;
   background-color: rgb(17, 17, 82);
   position: absolute; 
   transform: translateX(-48px) translateY(40px);
}
.history h2.h22:after {
   content: '';
   width: 10%;
   height: 1px;
   background-color: rgb(17, 17, 82);
   position: absolute; 
   transform: translateX(-75px) translateY(40px);
}
.history h2.h23:after {
   content: '';
   width: 15%;
   height: .5px;
   background-color: rgb(17, 17, 82);
   position: absolute; 
   transform: translateX(-147px) translateY(40px);
}
.slide {
   transform: translateX(10%);
   margin-top: 40px;
   width: 800px;
   height: 500px;
   position: relative;
   overflow: hidden;
 }
 .imgSlide {
   padding: 0;
   width: 6400px;
   left: 0px;
   /* 이미지 크키 X 이미지 개수 */
   height: 500px;
   position: absolute;
   z-index: 1;
 }
 
 .imgSlide li {
   float: left;
 }
 
 .imgSlide img {
   display: block;
   width: 800px;
   object-fit: cover;
 }
.moveBtn {
   width: 800px;
   top: 50%;
   position: absolute;
   z-index: 2;
   font-size: 60px;
   
 }
 
 .moveBtn .pre {
   float: left;
   background-color: rgba(255, 255, 255, 0.418);
   padding: 5px;
   text-decoration-line: none;
   color: rgb(255, 255, 255);
 }
 
 .moveBtn .next {
   float: right;
   background-color: rgba(255, 255, 255, 0.418);
   padding: 5px;
   text-decoration-line: none;
   color: rgb(255, 255, 255);
 }

 .container{
   width: 700px;
   margin: 0 auto;
 }
 .album{
   width: 700px;
   overflow: hidden;
 }
 .images{
   position: relative;
   display: flex;
   transition: 1s;
 }
 img{
   width: 700px;
 }
 button, button:active, button:focus{
   width: 70px; height: 100px;
   border: none;
   color: white;
   background-color: rgba(28, 46, 78, 0.5);
   outline: none;
   border-radius: 5px;
 }
 button:hover{
   background-color: rgb(28, 46, 78);
 }
 button:disabled{
   background-color: rgba(128, 128, 128, 0.5);
 }
 .prev{
   font-size: 40px;
   width: 70px;
   height: 100px;
   transform: translateY(-275px);
   float: left;
 }
 .next{
   font-size: 40px;
   width: 70px;
   height: 100px;
   transform: translateY(-275px);
   float: right;
 }
