@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


body{
   margin: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(0, 0, 0);
}

header {
   width: 100%; 
   height: 120px; 
   line-height: 120px; 
   padding:0 60px; 
   box-sizing: border-box; 
   position: fixed; 
   top: 0; 
   z-index: 100;
   background: linear-gradient(rgb(17, 17, 82), rgba(129, 129, 129, 0));
   text-align: center;
   left: 0;
   font-family: 'Raleway', sans-serif;
   
   
}
header .logo {
   display: inline;
}
/* header nav {
   float:none;
} */

header nav .gnb li {
   
   display: inline-block; 
   margin-left: 30px; 
   margin-right: 30px;
}
header nav .gnb li a {
   display: block; 
   font-size: 21px; 
   text-transform: uppercase; 
   position: relative; 
   text-decoration-line:none;
   color:rgb(218, 218, 218);
   font-weight: bold;
}
header nav .gnb li a:after {
   content: ''; 
   width: 0%; 
   height: 1px; 
   position: absolute; 
   background: rgba(218, 218, 218, 0.466); 
   bottom: 47px; 
   left: 50%; 
   transform: translateX(-50%); 
   transition: all 0.5s; 
}
header nav .gnb li a:hover:after, header nav .gnb li a:focus:after {
   width: 100%;
}
header .gnbL{ 
   margin-left: 15%;
   float: left;
   width: 28%;
   visibility: hidden;
}
header .gnbR{ 
   margin-right: 15%;
   float: right;
   width: 28%;
   visibility: hidden;
}
header:hover nav{
   visibility: visible;
}
header:hover {
   background-color: rgba(17, 17, 82, 0.596);
}
.text {
   position: absolute;
   top: 30%;
   left: 5%;
   font-size: 9em;
   text-shadow: 0 0 50px rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   z-index: 10000;
   font-family: 'Abel', sans-serif;
   animation: COYS .7s linear;
}

ul,li{
   list-style:none;
}

.slide{
       width: 100vw;
      }
.slide ul{
       position:absolute;
       width:100%;
       height: 100%;
       overflow:hidden;
       padding: 0;
       margin: 0;
       }
.slide li{
       position:absolute;
       left:0;
       right:0;
       top:0;
       bottom:0;
       opacity:0;
       animation:fade 8s infinite;
       height:100%;
      }
    .slide li img{
       object-fit: cover;
    }

    .slide li:nth-child(1){
       animation-delay:0s
      }
    .slide li:nth-child(2){
       animation-delay:2s
      }
    .slide li:nth-child(3){
       animation-delay:4s
      }
    .slide li:nth-child(4){
       animation-delay:6s
      }
    @keyframes fade {
      0% {opacity:0;}
      5% {opacity:1;}
      25% {opacity:1;}
      30% {opacity:0;}
      100% {opacity:0;}
    } 

    @keyframes COYS {
      0% {opacity:0;}
      100% {opacity:1;}
    } 

