@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');
body{
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('/img/2.jpg')no-repeat center center fixed;
 }
 
 header {
    width: 100%; 
    height: 120px; 
    line-height: 120px; 
    padding:0 60px; 
    box-sizing: border-box; 
    position: fixed; 
    top: 0; 
    z-index: 100;
    background:rgb(17, 17, 82);
    text-align: center;
    left: 0;
    font-family: 'Raleway', sans-serif;
 }
 header .logo {
    display: inline;
 }
 
 header nav .gnb li {
    
    display: inline-block; 
    margin-left: 30px; 
    margin-right: 30px;
 }
 header nav .gnb li a {
    display: block; 
    font-size: 21px; 
    text-transform: uppercase; 
    position: relative; 
    text-decoration-line:none;
    color:rgb(218, 218, 218);
    font-weight: bold;
 }
 header nav .gnb li a:after {
    content: ''; 
    width: 0%; 
    height: 1px; 
    position: absolute; 
    background: rgba(218, 218, 218, 0.466); 
    bottom: 47px; 
    left: 50%; 
    transform: translateX(-50%); 
    transition: all 0.5s; 
 }
 header nav .gnb li a:hover:after, header nav .gnb li a:focus:after {
    width: 100%;
 }
 header .gnbL{ 
    margin-left: 15%;
    float: left;
    width: 28%;
 }
 header .gnbR{ 
    margin-right: 15%;
    float: right;
    width: 28%;
 }

 main {
      padding: 60px 60px 20px 60px;
      position: relative;
      top: 180px;
      width: 80%;
      margin: 0 6.3%;
      text-align: center;
      justify-content: center;
      font-family: 'Noto Serif KR', serif;
      background-color: rgba(255, 255, 255, 0.959);
      border-radius: 10px;
  }

  .title {
    top: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 2em;
    margin-bottom: 100px;
}
.title h3::after {
  content: '';
  width: 607.5px;
  height: 3px;
  background-color: rgb(17, 17, 82);
  position: absolute; 
  transform: translateX(-62.5%) translateY(80px);
}
.plPositon{
   text-align: left;
   border-bottom: 1px solid black;
   color: rgb(24, 19, 88);
   border-radius: 5px;
   position: relative;
}
.plPositon p {
   font-weight: bold;
   display: inline-block;
}
.plPositon img{
   margin-left: 30px;
   transform: translateY(10px);
   display: inline-block;
   height: 30px;
}

.plmatchscoreWrab{
   transform: translateX(10%);
   margin: 20px;
   height: 50px;
   width: 80%;
   border-radius: 5px;
   border: 2px solid rgb(141, 98, 180);
   transition: .2s;
}
.plmatchscore{
   transform: translateY(35%);
}
.clubL{
   position: absolute;
   transform: translateX(-80px);
   display: inline-block;
}
.clubR{
   position: absolute;
   transform: translateX(10px);
   display: inline-block;
}
.score{
   
   display: inline;
}
.score div{
   font-weight: bold;
   display: inline-block;
   background-color: rgba(47, 53, 104, 0.76);
   color: whitesmoke;
   height: 30px;
   width: 30px;
   /* margin: 10px; */
}

.plmatchscoreWrab a.btn{
   transform: translateX(450px) translateY(-17px);
   position: absolute;
   display: inline-block;
}